.sortIcon {
  float: right;
  margin-right: 10px;
  font-size: 17px;
  cursor: pointer; }

.tableHeader {
  width: 100%;
  height: auto;
  background: #f2f2f2;
  border-bottom: 1px solid #d0d0d0;
  padding: 15px; }
  .tableHeader label {
    color: #000000;
    font-size: 1.2em;
    font-weight: bold; }
  .tableHeader .normalButton {
    width: auto;
    height: auto;
    float: right;
    font-size: 1.5em;
    border: 1px solid transparent;
    background: transparent;
    padding-top: 0;
    padding-bottom: 5px;
    position: absolute;
    left: auto;
    right: 15px;
    top: 12px;
    z-index: 1000; }
  .tableHeader .clickedButton {
    width: auto;
    height: auto;
    float: right;
    font-size: 1.5em;
    background: #f2f2f2;
    padding-top: 0;
    padding-bottom: 5px;
    border-top: 1px solid #cbcbcb;
    border-left: 1px solid #cbcbcb;
    border-right: 1px solid #cbcbcb;
    border-bottom: none;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: absolute;
    left: auto;
    right: 15px;
    top: 12px;
    z-index: 1000; }

.optionsContainer {
  width: 200px;
  height: 100px;
  background: #f2f2f2;
  border: 1px solid #cbcbcb;
  -webkit-border-radius: 3px;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius: 3px;
  -moz-border-radius-topright: 0;
  border-radius: 3px;
  border-top-right-radius: 0;
  position: absolute; }

.optionsList {
  width: 100%;
  height: auto;
  left: 0;
  right: 0; }
  .optionsList li {
    padding: 10px;
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid gainsboro; }
    .optionsList li label {
      color: black;
      font-size: 0.9em;
      cursor: pointer;
      text-decoration: none; }

#_cetTableModal {
  position: absolute;
  left: 34%;
  top: 10%;
  width: 400px;
  height: auto;
  background: #f2f2f2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.5);
  box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.5); }
  #_cetTableModal ._cetTableModalHeader {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #d0d0d0;
    padding: 10px; }
    #_cetTableModal ._cetTableModalHeader label {
      font-size: 1.0em;
      color: black; }
    #_cetTableModal ._cetTableModalHeader button {
      float: right;
      border: none;
      background: transparent;
      font-size: 1.5em;
      color: black;
      margin-top: -7px; }
  #_cetTableModal ._cetTableContent {
    background: white;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 20px;
    width: 100%;
    height: auto; }
    #_cetTableModal ._cetTableContent label {
      color: black;
      font-size: 0.9em; }
    #_cetTableModal ._cetTableContent select {
      display: block;
      margin-top: 10px;
      color: black;
      font-size: 0.9em;
      margin-bottom: 10px; }
    #_cetTableModal ._cetTableContent .doneButton {
      margin-top: 20px; }

/*# sourceMappingURL=styles.css.map */
